.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.center{
  margin-left: 20%;
  margin-right: 20%;
}

.logo{
  background: linear-gradient(0.25turn, rgb(96, 188, 97), rgb(134, 198, 79));
  color: white;
  border-radius: 0.4rem;
}
.greenbackground
{
  background-color: rgb(85, 186, 93);
}
.table{
  border: 2px solid black;
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
.tablehead{
  text-align: center;
  color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.tab {
    display: inline-block;
    margin-left: 40px;
}