<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pay My Buddy : Transfer</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
	<header>
		<div class="container">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a th:href="home.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
					<span class="fs-4">
                        <button type=button class="btn logo">Pay My Buddy</button>
                    </span>
				</a>
				<ul class="nav nav-pills">
					<li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Transfer</a></li>
					<li class="nav-item"><a href="/account" class="nav-link">Account</a></li>
					<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
					<li class="nav-item"><a href="/log_off" class="nav-link">Log Off</a></li>
				</ul>
			</header>
		</div>
	</header>

	<div class="text-center center">
		<div class="row">
			<h2 class="col">Send Money</h2>
			<form class="col" method="GET" action="/add_connection">
				<button class="btn btn-primary" type="submit">Add Connection</button>
			</form>
		</div>
        <form method="POST" action="/transfer">
            <div class="row">
                <select class="custom-select col-3" name="receiver"  id="dropOperator"><option th:each="AllConnnection : ${AllConnnection}" th:value="${AllConnnection.idUser}" th:text="${AllConnnection.pseudo}"></option></select>
                <div class="col-2">
                    <input name="money" type="number" placeholder="0€" class="form-control" aria-label="Amount">
                </div>
                <div class="col-4">
                    <input type="text" name="description" placeholder="description" class="form-control">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </form>

    </div>

 <div class="py-3">
    <div class="container">
        <div class="row">
            <div class=" text-left">
                <h5 class="">My Transactions<br></h5>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead class="greenbackground tablehead">
        <tr>
            <th scope="col">Connections</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <div data-th-each="p : ${transactionHistory}">
        <tr>
            <td><div class="row-md-4 text-center" data-th-text="${ p.connections}"></div>
            </td>
            <td><div class="row-md-4 text-center" data-th-text="${ p.description}"></div>
            </td>
            <td><div class="row-md-4 text-center" data-th-text="${ p.amount}"></div>
            </td>
        </tr>
    </div>
    </tbody>
</table>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" th:if="${totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${currentPage eq 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                        th:href="@{transfer?page={id}(id=${currentPage lt 2 ? 1 : currentPage})}"
                        aria-label="Previous"
                        title="Previous Page" rel="tooltip"><
                        <span aria-hidden="true" width="20" height="20"><i class="fa fa-chevron-left"></i></span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${i eq currentPage+1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, totalPages > 5 + currentPage ? currentPage + 5 : totalPages, 1)}">
                <a class="page-link" th:href="@{transfer?page={id}(id=${i})}" th:text="${i}"
                th:title="${'Page '+ i}"
                rel="tooltip">
            </a>
        </li>

        <li class="page-item disabled" th:if="${currentPage + 5 < totalPages}">
            <a class="page-link svg-icon" href="#">
                <span width="20" height="20"><i class="fa fa-ellipsis-h"></span>
                </a>
            </li>

            <li class="page-item" th:classappend="${currentPage+1 eq totalPages} ? 'disabled'">
                <a class="page-link svg-icon" th:href="@{transfer?page={id}(id=${currentPage + 2})}"
                aria-label="Next"
                title="Next Page" rel="tooltip">>
                <span aria-hidden="true" width="20" height="20"><i class="fa fa-chevron-right"></i></span>
            </a>
        </li>

    </ul>
</div>
<div class="col-md-4"></div>
</div>
</div>
</div>

</body>
</html>